<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrixEx | {{other.username}}</title>
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div id="wrapper" class="mk-light-dots">

        <!-- HEADER -->
        <header>

            <!-- Social Links -->
            <div id="socials-link">
                <div class="vertical-line"></div>
                <a href="mailto:janulewiczgarett@gmail.com" class="mk-btn email-link">janulewiczgarett@gmail.com</a>

                <div class="vertical-line"></div>
                <a href="https://www.linkedin.com/in/garett-janulewicz-902966220" target="_blank" class="linkedin-link">
                    <img src="{{ url_for('static', filename='assets/linkedin.png') }}" alt="linkedin">
                </a>
                <a href="https://www.github.com/woox99" target="_blank" class="github-link">
                    <img src="{{ url_for('static', filename='assets/github.png') }}" alt="github">
                </a>
                <a href="https://woox99.github.io/Portfolio/" target="_blank" class="portfolio-link">
                    <img src="{{ url_for('static', filename='assets/user.png') }}" alt="user">
                    <p class="mk-green">Portfolio</p>
                </a>

                <a href="/favorites" class="mk-btn favorites-btn">
                    <img src="{{ url_for('static', filename='assets/star_filled.png') }}" alt="star">
                    FAVORITES
                </a>
            </div>

            <!-- Nav Bar -->
            <div id="nav" class="mk-dots">
                <div class="nav-inner">
                    <div>
                        <a href="/profile/{{user.id}}" class="profile-btn mk-btn">
                            <div class="profile-pic">
                                <img src="{{ url_for('static', filename='assets/user_grey.png') }}" alt="">
                            </div>
                            <p class="username">@{{user.username}}</p>
                        </a>
                    </div>
                    <div class="title">
                        <a href="/home" class="mk-btn">
                            <h1 class="mk-green">TrixEx</h1>
                        </a>
                        <p>A space to exchange front-end tricks.</p>
                    </div>
                    <div>
                        <a class="mk-btn" href="/home">HOME</a>
                        <a class="mk-btn logout" href="/logout">LOGOUT</a>
                    </div>
                </div>
            </div>

            <!-- Mobile Hamburger Menu -->
            <div id="mobile">
                <div class="hamburger-menu mk-dots">
                    <a href="/home" class="hamburger-title">
                        <h1>TrixEx</h1>
                        <p>A space to exchange front-end tricks.</p>
                    </a>
                    <input class="menu-btn" type="checkbox" id="menu-btn">
                    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                    <ul class="menu mk-dots mk-glow">
                        <li>
                            <a href="/profile/{{user.id}}" class="profile-btn mk-btn">
                                <div class="profile-pic">
                                    <img src="{{ url_for('static', filename='assets/user_grey.png') }}" alt="">
                                </div>
                                <p class="username">@{{user.username}}</p>
                            </a>
                        </li>
                        <li><a href="/profile/{{user.id}}">MY PROFILE</a></li>
                        <li><a href="/favorites">FAVORITES</a></li>
                        <li><a href="/home">HOME</a></li>
                        <li><a href="/logout">LOGOUT</a></li>
                    </ul>
                </div>
            </div>

            <div class="break-line">
                <hr>
            </div>
        </header>

        <!-- MAIN -->
        <main class="self-profile">
            <div class="profile-section">
                <div class="left">
                    <div class="user-profile">
                        <a href="/profile/{{other.id}}" class="mk-btn">
                            <div class="profile-pic">
                                <img src="{{ url_for('static', filename='assets/user_grey.png') }}" alt="">
                            </div>
                            <p class="mk-green mk-btn">@{{other.username}}</p>
                            <p class="name">{{other.first_name}} {{other.last_name}}</p>
                        </a>
                    </div>
                    <div class="followers">
                        <p>{{num_followers}} <a href="/followers/{{other.id}}" class="mk-btn">FOLLOWERS</a></p>
                        <p>{{num_followings}} <a href="/followings/{{other.id}}" class="mk-btn">FOLLOWING</a></p>
                        {% if user.id != other.id%}
                        {% if is_following == True%}
                        <button class="mk-box-btn" id="follow{{other.id}}" onclick="followUser(this)">UNFOLLOW</button>
                        {% else %}
                        <button class="mk-box-btn" id="follow{{other.id}}" onclick="followUser(this)">FOLLOW</button>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="break-line">
                <hr>
            </div>

            <!-- Profile Row -->
            <div class="profile-row">
                {% for following in followings %}
                <div class="user-profile">
                    <a href="/profile/{{following['users.id']}}" class="mk-btn">
                        <div class="profile-pic">
                            <img src="{{ url_for('static', filename='assets/user_grey.png') }}" alt="">
                        </div>
                        <p class="mk-btn">@{{following.username}}</p>
                        <p class="name">{{following.first_name}} {{following.last_name}}</p>
                    </a>
                </div>
                {% endfor %}
            </div>

        </main>


        <div class="break-line">
            <hr>
        </div>

        <!-- FOOTER -->
        <footer class="footer mk-dots">
            <h5 class="mk-green title">TrickEx</h5>
            <p>© TrixEx 2023</p>
            <p class="move-up">This is a demo project for my <a href="https://woox99.github.io/Portfolio/" target="_blank">portfolio</a>. Do not sue.</p>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>